dash==1.17.0
dash-bootstrap-components==0.10.7
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
docutils==0.15.2
dpd-components==0.1.0
dpd-static-support==0.0.5
feature-engine==0.6.0
Flask==1.1.2
Flask-Compress==1.8.0
GitPython==3.1.11
gunicorn==20.0.4
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
joblib==0.13.2
jsonschema==3.0.2
Keras==2.2.4
Keras-Applications==1.0.4
Keras-Preprocessing==1.1.2
lime==0.2.0.1
lxml==4.4.1
matplotlib==3.3.2
missingno==0.4.2
mlxtend==0.17.3
networkx==2.3
numpy==1.18.5
oauthlib==3.1.0
pandas==1.0.5
pycparser==2.19
pydeck==0.5.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
pystan==2.17.1.0
pytest==3.7.0
pytz==2019.2
PyYAML==5.3.1
pyzmq==18.1.0
setuptools-git==1.2
six==1.12.0
smmap==3.0.4
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
urllib3==1.25.11
webencodings==0.5.1